<!DOCTYPE html>
<html>
<head>
    {% load i18n %}
	<title>{% trans "Blog" %}</title>
</head>
<body>

<h1> {% trans "Blog" %} </h1>

{% if allposts %}
    <ul>
    {% for post in allposts %}
        <li><p>{{ post.text }}</p> {% trans "Posted on " %}{{ post.time }}</li><hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
</body>
<a href="{% url 'about' %}">{% trans "About the blog" %}</a><br>
<a href="{% url 'create' %}">{% trans "Create a post" %}</a><br>
{% get_available_languages as LANGUAGES %}
<p>{% trans "Choose your language" %}</p>
{% for lang in LANGUAGES %}

	  <form name="setLang{{ lang.1}}" action="/blog/i18n/setlang/" method="POST">
	  {% csrf_token %}
	    <input name="next" type="hidden" value="/">
	    <input type="hidden" name="language" value="{{ lang.0 }}">
	    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();
		    return false;">{{ lang.1 }}</a>
	  </form>
  {% endfor %}
</html>